.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  height: 100vh;
}

.macroDisplay {
  display: flex;
  flex-direction: column;
}

.macroDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.macroRatios {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d8d8d8;
  color: #000;
  border-radius: 8px;
  padding: 20px 20px;
}

.macroOwnerTitle {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
  width: 100%;
}

.macroTitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border-top: 1px solid #000;;
}

.foodOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.foodList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 10px;
}

.foodItem {
  background: #d8d8d8;
  padding: 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  color: #000;
}

.foodItemProperties {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
}

.searchInput input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #000;
}

.semiBoldText {
  font-weight: 600;
}